html(prefix="og: http://ogp.me/ns#")
    head
        title
        script(src="https://yastatic.net/share2/share.js", async="async")
        meta(property="og:title",content="The Rock")
        meta(property="og:url", content="https://pokeshare-test.herokuapp.com/sssss")
        meta(property="og:image", content="http://turkiyepokemongo.net/wp-content/uploads/2016/07/ivysaur.jpg")
    body
        form(method="post",enctype="multipart/form-data",action="/")
            p
                input(type="file",name="avatar",accept="image/*;capture=camera")
            p
                input(type="submit")
            div(class="ya-share2", data-services="vkontakte,odnoklassniki,facebook,twitter", data-image="http://turkiyepokemongo.net/wp-content/uploads/2016/07/ivysaur.jpg", data-counter)
