html(prefix="og: http://ogp.me/ns#")
    head
        title
        script(src="https://yastatic.net/share2/share.js", async="async")
        meta(property="og:title",content="The Rock")
        meta(property="og:url", content="https://pokeshare-test.herokuapp.com/bbdfg")
        //meta(property="og:image", content="https://s-media-cache-ak0.pinimg.com/236x/b1/4c/e0/b14ce02f1bfcf341fce06e41ec1646c8.jpg")
    body
        form(method="post",enctype="multipart/form-data",action="/")
            p
                input(type="file",name="avatar",accept="image/*;capture=camera")
            p
                input(type="submit")
            div(class="ya-share2", data-services="vkontakte,odnoklassniki,facebook,twitter", data-counter)
